@model CursoWeb.Models.Aluno

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlunoNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlunoNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.assunto.DescAssunto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assunto.DescAssunto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departamento.DepartamentoNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departamento.DepartamentoNome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlunoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
